<launch>
  <!-- Definir argumentos com valores padrão -->
  <arg name="serial_port" default="/dev/ttyACM0" />
  <arg name="baudrate" default="115200" />

  <!-- Iniciar o nó lsuwb -->
  <node name="lsuwb_node" pkg="lsuwb" type="main.py" output="screen">
    <param name="serial_port" value="$(arg serial_port)" />
    <param name="baudrate" value="$(arg baudrate)" />
  </node>
</launch>
